include share/*.desktop
include share/*.1
include forms/*.xml
include forms/*.xsl
include images/*
include locale/*/LC_MESSAGES/D-RATS.mo
include ui/*.glade
include d_rats/version.py
include d-rats2.ico
include libexec/lzhuf
include MANIFEST.in
include COPYING
